/*
 *= require bootstrap-datepicker
 *= require bootstrap
 *= require offcanvas
 *= require fancybox
 *= require profiles
 *= require chosen
 *= require_self
 */
/* Chosen css override */
.chosen-container-single {
  .chosen-single {
    height: 34px;
    line-height: 34px;
  }
  .chosen-single abbr {
    top: 9px;
  }
}
.chosen-container-multi .chosen-choices li.search-field input[type="text"] {
  height: 30px;
}
.simple_form {
  .form-group { margin-left: 0; margin-right: 0 }
  .form-control {
    &[type='checkbox'] {
      height: auto;
      -webkit-box-shadow: none;
      box-shadow: none;
    }
  }

  .physician_birthdate {
    .form-control {
      width: 32%;
      display: inline-block;
    }
  }

  .question-row {
    border: 1px solid #aaa;
    padding: 10px 0;
    margin: 10px 0;
  }
}

/* Extension for bootstrap BEGIN */
.navbar-inverse .navbar-brand {
  #logo {
    background: image-url('logo.png') center center no-repeat;
    margin: -10px 0;
    width: 32px;
    height: 32px;
    display: inline-block;
  }
  &:hover, &:focus {
    #logo {
      background: image-url('logo_active.png') center center no-repeat;
    }
  }
}

.sidebar-nav .nav > li {
  font-weight: bold;

  & > a {
    font-weight: normal;
    padding: 5px 15px;
  }
}

hr.thin {
  margin-top: 10px;
  margin-bottom: 15px;
}

.inline {
  display: inline-block;
}
/* Extension for bootstrap END */

.audit_content {
  font-size: 16px;
  span.label-danger {
    font-weight: normal;
  }
}

.form-search {
  width: 450px;
  margin-top: 5px;
  text-align: right;

  input#id {
    width: 80px;
  }
  input#profile_id {
    width: 110px;
  }
  input#phone {
    width: 100px;
  }
  input#keyword {
    width: 220px;
  }
  .input-daterange {
    width: 220px;
  }
}

.rating-list {
  margin-top: 20px;

  strong { vertical-align: top; }

  ul {
    list-style: none;
    padding-left: 0;
    padding-top: 4px;

    li {
      padding: 3px 5px;
      .rating {
        margin-left: 10px;
      }
    }
  }
}

// Daterange
.export-form {
  position: relative;

  .input-daterange {
    margin-right: 110px;
  }
  .button-daterange {
    position: absolute;
    right: 0;
    top: 0;
  }
}


// bootstrap grid override
.col-lg-8 {
  padding-left: 0;
}

table > tr > td {
  word-break:break-all;
  word-wrap:break-word;
}

.vendor_id_range {
  margin-top: 5px;
  margin-right: 130px;
}

.form-inline {
  .form-control {
    padding-left: 6px;
    padding-right: 6px;
  }
}

#qrcode_table .source_url, #qrcode_table .destination_url {
  width: 200px;
  overflow-x: scroll;
}
