%h4.text-muted= t('audit', stuff: Comment.model_name.human)
%hr.thin
.well.audit_content
  = @comment.content.to_s.html_safe

- if @comment.need_audit?
  %hr.thin
  .text-center
    = link_to t('button.publish'), audit_admin_panel_comment_path(@comment, as: 'unread'), remote: true, method: :put, class: 'btn btn-success'
    = link_to t('button.reject'), audit_admin_panel_comment_path(@comment, as: 'rejected'), remote: true, method: :put, class: 'btn btn-danger'
