:css
  html, body {
    font-family: 'Helvetica Neue', 'Roboto', 'Verdana', sans-serif;
    color: #444;
  }

  ol.level-2 { list-style-type: lower-alpha; }


%h1 The CareVoice services agreement

%p The CareVoice service agreement is made between you and The CareVoice Limited (hereinafter referred to as "The CareVoice" ) , signed to clarify the your rights and obligations and those of The CareVoice in The CareVoice application services ( hereinafter referred to as "The CareVoice service" ) in document. When you access and use The CareVoice health services, you should comply with the provisions of this Agreement. The CareVoice retains according to company development, the right to update this Agreement at any time and will update the date marked on The CareVoice website <a href="http://www.thecarevoice.com">http://www.thecarevoice.com</a>. When you download The CareVoice applications , or access and / or use of any of The CareVoice services , it means that you have read , understand, accept and agree to all the contents of this agreement , including this updated agreement.

%h2 1 The CareVoice service

%p The CareVoice has the property of databases covering hospitals, doctors and pharmaceutical medicines and uses its own evaluation system through the Internet and mobile phones for you to find hospitals, doctors and medicines, based on patient's assessment and network services. You need to register an account to post your evaluation. Registration and use of the account on The CareVoice service is completely free of charge.
When using The CareVoice service, you must have the appropriate equipment and may need to pay a fee to the network operator. Equipment, including but not limited to mobile phones, computers and other Internet devices; fees may be required, including but not limited to network access charges , mobile traffic costs.

%h2 2 Privacy Policy

%p The CareVoice aims to provide information to evaluate the construction of a shared platform to help you make more appropriate medical decisions. The CareVoice attaches great importance to the protection of user privacy and has developed a strict privacy policy. Privacy policy of The CareVoice is integral part of the service agreement.

%p We collect two types of information, to provide you service first at the time you register, your own personal information (hereinafter referred to as "Personal Information" ) about whether you can customize the personal information visible to others ; second category is that you publish evaluation then the contents of the input, the location (if you turn location services on the phone ) , the evaluation information ( hereinafter referred to as " public information " ), public information will always be visible to others .

%p Before obtaining your permission, we will not share the information with any third party , or sell any personal information to third parties. All public information will be considered non-confidential nature and you grant The CareVoice and its partners the right to publish such public information for any purpose, edit, copy, publish and distribute. If you choose to accept the recommendation of The CareVoice to share information with a partner, The CareVoice and its partners will use your personal information to recommend appropriate useful content. You can always choose whether to accept such content.

%p The CareVoice may use partners’ hardware, software, network equipment, storage equipment, and appropriate technology to run the service platform; such partners will adopt the necessary measures to ensure the safety and security of your personal information, but do not guarantee health services as well as all information accuracy, reliability, timeliness and performance in every moment. Risks associated with the accuracy, reliability, timeliness and performance of all the information borne by you.

%p In exceptional circumstances, The CareVoice may disclose your personal information to third party, such as with the public security organs of the investigation or the court, or in case you are in breach of The CareVoice services agreement. For these purposes to disclose your public or your personal information, The CareVoice does not bear any responsibility to you or to any other third party.

%p The CareVoice may develop privacy policy according to their regular or occasional updates and will try to prompt you when a major update happens. You can view the latest version <a href="http://www.thecarevoice.com">http://www.thecarevoice.com</a>

%h2 3 Your rights and obligations

%ol
  %li You have the right to decide whether to download and use the application The CareVoice, you have the right to choose whether or not to register as a The CareVoice member. When you register, you represent and warrant that you are an adult with full civil capacity and full civil rights, if you are under 18, you need to ensure that your parents agree that you use The CareVoice services. You need to provide your valid phone number. Your phone number will ensure that this message has been received, properly activated, and you can receive and read the message content in a timely manner. You may not by any means use malicious registered account and, the account must not steal another person’s identity by any means. If you are in violation of the above provisions too, The CareVoice reserves the right to submit the judiciary to pursue all necessary measures to your liability including the cancellation of account.
  %li You have the right to personalize your account. You can choose your username and avatar, complete your account information such as health conditions in order to see more relevant information and select certain information as visible (see privacy policy), You warrant that the content of your personalized account complies with relevant laws and regulations and in accordance with the online ethics, which does not contain any abusive, obscene, and other harmful content of people's legitimate rights and interests. If the account does not meet these criteria, The CareVoice retains the right to use all necessary measures, including suspension of the account, and cancellation of the account .
  %li You have the right to choose whether to accept the recommendation of The CareVoice partner information (see privacy policy) .
  %li fter successful registration, you have an obligation to ensure the safety of your registration and login information. You will be fully responsible for the security of your account and your account activity in  The CareVoice . If you lose your password, you can reset the password by The CareVoice services with the "Forgot Password" feature.
  %li You have the right to use in The CareVoice the evaluation system based on your personal experience, publishing objective, true and rational evaluation of services or treatments. You will be responsible for the content you post, you have an obligation to ensure that your assessment content complies with relevant laws and regulations, must not endanger national security, without prejudice to the reputation of state organs, does not involve any infringing content, does not involve any commercial advertising. When found inappropriate content posted by others, you are obligated to report inappropriate content to The CareVoice. For the evaluation of various types of improper or even illegal content, The CareVoice reserves the right to use all necessary measures including, but not limited to: improper shielding evaluation, delete improper evaluation, improper evaluation of disabling published accounts, shielding a particular IP address segment until judicial legal liability related to the user is submitted.
  %li You have the right to make someone else's evaluation as "useful" feedback, the feedback must be based on the quality and significance of evaluation.
  %li You have the right to modify the details of your account at any time, the user name can be modified only once. If you want to disable the account, you can send a message to <a href="mailto:info@thecarevoice.com">info@thecarevoice.com</a> include your user name, login email, login password. The CareVoice will process your request as soon as possible and delete your account within 15 days, but your already published disclosure will not be deleted.
  %li You have the right to contact us through "feedback " function, and provide the necessary advice and suggestions.
  %li You have the right to participate in activities organized - all kinds of online and offline, and to obtain the corresponding reward.
  %li If you are a person in charge of any pharmaceutical company, of any hospital or a doctor, you have the right to contact The CareVoice for your related information or correct your information in The CareVoice. You will be asked to provide documents to prove your identity.
  %li If you are a person in charge of any pharmaceutical company, of any hospital or doctor, you have the right to evaluate malicious complaint that does not accord with the facts.
  %li If you are a person in charge of any pharmaceutical company, of any hospital or doctor, you are entitled to write to The CareVoice if your data is not displayed on the platform. This requirement needs to be made in writing The CareVoice, and to provide relevant documents to prove your identity.

%h2 4 The CareVoice rights, obligations and Disclaimer

%ol
  %li The CareVoice services, including but not limited to, text, software, photos, graphics , charts, and artwork , video, music and sound , names , logos, trademarks and service marks are The CareVoice’s and its partners’ or licensors’ property protected by copyright, trademark and other laws . The CareVoice services in all of the content is available only for your personal, non-commercial use. The CareVoice and its partners, without the written permission of any person shall modify, copy, reproduce, distribute, disseminate, sell, publish, broadcast or transmit any content. The CareVoice and its partners cannot be held liable for breach of the individual or entity declaration.
  %li The CareVoice has right to change, suspend or terminate some or all of the services, without providing further notice to you and does not assume any liability to you or any third party. Given The CareVoice needs regular or irregular maintenance for the platform to provide network services (such as websites, mobile networks, etc. ) or related equipment or maintenance, as a result of such service interruptions, The CareVoice and their partners will not bear any responsibility, but The CareVoice may give an advance notice.
  %li Under the premise of obtaining your consent, the right to services you’ll provide your contact information and relevant information within your allowable range.
  %li The CareVoice provides objective evaluation of health services or treatments from different users. At any time, the content of The CareVoice can not be evaluated as a substitute for professional medical diagnosis. The CareVoice and its partners do not endorse or accept responsibility on the site for any opinions, suggestions, or the accuracy and reliability of the statements. Your choice of any specific medical practices must be based on your independent judgment, and acceptance of all the consequences arising from the use of The CareVoice entirely borne by you personally.
  %li Any information you publish being public information will be considered non-confidential. You assume full responsibility for any public information you publish or forward, and you grant The CareVoice and its partners, for any purpose, edit, copy, publish and distribute, right to disclosure of information you post or forward.
  %li The CareVoice and its partners have not read or monitor any websites linked to The CareVoice, nor read or monitor network links published by the users so for the content of the linked sites The CareVoice does not assume any responsibility, you need to visit the website link at your own risk.
  %li 
    The CareVoice have the right according to their own independent judgment, to take all necessary measures for the content of the following terms without prior notice to you :
    %ol.level-2
      %li endanger national security, leaking state secrets, the legitimate rights and interests of others ;
      %li violation of the relevant Indian laws and regulations;
      %li carry out acts of commercial advertising ;
      %li the use of any services that may adversely affect the normal operation of the Internet ;
      %li the use of The CareVoice to transmit any health harassing, libelous , abusive, threatening, vulgar or obscene , or any other illegal information materials ;
      %li the use of The CareVoice with any adverse effect on  The CareVoice and its partner's behavior ;
      %li any other violation of the user agreement.
  %li As a result of your breach of this User Agreement, The CareVoice or partner is entitled to, require you to be compensated.
  %li I, as a subscriber/ User of the services offered through the web portal CareVoice.com, do herby expressly authorise CareVoice and any of their business associates to call/ SMS my/our registered phone numbers (as provided by me / us to CareVoice). I hereby expressly state that such authorisation shall override the national Do-Not-Disturb Registry (“DND”), even if the phone numbers in question are registered under DND list of national Consumer preference registry ( NCPR/NDNC).
%p I/we also undertake that I/We will not make any complaints to NDNC for any calls received from CareVoice services/ products, and shall indemnify CareVoice and any of its business associates for having engaged in any such practice.
%p I hereby authorise CareVoice and its business associates to continue contacting me via any of the modes of communication listed above, till such time as I expressly opt-out / unsubscribe from the service offered by CareVoice.com. Till such time, CareVoice and its business associates shall have all rights to continue communicating with me and I shall completely indemnify them against any liability that may arise as a result of such authorisation to communicate. Such indemnification shall extend to court cases and suits and all lawyer/ advocate fees, even if the dispute is never subjected to judicial scrutiny.
%h2 5. Restrictive clauses
%p You may only use and access procedures for the lawful purposes. You agree not to encourage or conspire with any other person to take any action with the purpose of the program, does not match the intent and spirit of, or otherwise damage the system in disguise. You also agree to comply with all applicable local, national and foreign laws and regulations when using The CareVoice service. In addition, you agree not to take any of the following acts:
%ol
  %li without explicitly being allowed by The Carevoice to use, collect or store other users' personal data;
  %li upload any virus or other computer code, that may e-mail or otherwise disseminate, may interrupt , destroy or limit the functionality or interfere with any user access to health services on The CareVoice;
  %li use The CareVoice name, trademark , URL ( uniform resource locator ) , or any intermediate product names or other signs hidden text or metadata;
  %li use manual or automated software , devices, scripts , robots, other means or processes to access , " wipe " or " crawlers" any data included;
  %li in any other way attempt to or actually in addition to providing access to services through the application The CareVoice or The CareVoice other than health services outside the platform , etc.;
  %li attempting to probe , to detect weaknesses or test The CareVoice system or network , or compromised, weakened, circumvent any security measures to protect the health or identification of The CareVoice services or applications;
  %li attempt to decipher , decompile, disassemble , reverse engineer or otherwise attempt to obtain determined to provide services in any The CareVoice application source code;
  %li use The CareVoice services or applications in order to compete with  The CareVoice in a manner;
  %li use a third-party username;
  %li encourage or instruct any other individual to take the aforementioned behavior.

%h2 6. Applicable law
%p The agreement governed by Indian law. Any dispute arising from this Agreement or in connection with this Agreement, the parties shall first settle through friendly negotiation. If negotiation fails, it shall be submitted to the state courts located in Delhi for arbitration in accordance with the then effective arbitration rules. The parties acknowledge that the arbitral tribunal choice is irrevocable. The place of arbitration is Delhi. Arbitration language is English. The arbitral award is final and the parties involved in the arbitration are binding. Except as otherwise determined by the Arbitration Court, arbitration costs and attorney's fees shall be borne by the losing party.

%h2 7 Contact Us
%p If you have any questions about The CareVoice service agreement,  please contact us : <a href="mailto:info@thecarevoice.com">info@thecarevoice.com</a>, we will reply to you as soon as possible , wish you health The CareVoice service satisfaction .

