.pages-controller {
  .page {
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;

    .top_logo {
      height: 50%;
      width: 100%;
      text-align: center;
      @include respond-to(480) { background: #fff image-url('mobile/guest_flow/top_bg-480.png') no-repeat fixed center top; }
      @include respond-to(1080) { background: #fff image-url('mobile/guest_flow/top_bg-1080.png') no-repeat fixed center top; }


      > .logo {
        vertical-align: middle;

        img {
          // @include respond-to(480) { max-width: 420px; }
          // @include respond-to(1080) { max-width: 1060px; }
          width: 90%;
        }
      }

      > .logo-cn {
        vertical-align: middle;
        img {
          width: 60%;
        }
      }
    }

    > .separator {
      height: 5px;
      z-index: 1;
      position: absolute;
    }

    > .about {
      color: #006b81;
      position: absolute;
      bottom: 0px;
      background-color: #ddebee;
      top: 50%;

      padding: 10px;
      // @include respond-to(480) { font-size: 16px; line-height: 26px; }
      // @include respond-to(1080) { font-size: 42px; }
      font-size: 0.7em;

      .terms_link {
        text-align: right;
        padding: 10px;
         @include respond-to(480) { padding-bottom: 20px; }
         @include respond-to(1080) { padding-bottom: 50px; }
        a {
          color: #006b81;
          text-decoration: underline;
        }
      }

      .desc {
        padding-top: 20px;
        p { margin-top: 0; }
        .text-cn {
          font-size: 16px;
        }
      }

      #actions-section {
        bottom: 10px;
        left: 10px;
        position: absolute;
        right: 10px;

        a {
          @include respond-to(480) { height: 60px; line-height: 60px; }
          @include respond-to(1080) { height: 80px; line-height: 80px; }
        }
      }
      .btn-text-cn {
        font-size: 16px;
      }
    }

  }
}
