ul.ui-autocomplete {
  border: 3px solid #8DB8C3;
  background-color: white;
  z-index: 1;
  padding: 0;

  li {
    list-style: none;
    font-size: 16px;
    padding: 3px 5px;
    &.category, &.category:hover {
      color: #666;
      background-color: #eee;
      font-style: italic;
    }
    &:hover {
      background-color: #42899C;
      a { color: white; }
    }
  }
}
