// *,
// *:before,
// *:after {
//   @include box-sizing(border-box);
// }

body {
  font-family: 'Montserrat', 'Verdana', sans-serif;
  font-size: 22px;
  background-color: white;
}

input, select, textarea {
  -webkit-appearance: none;
}

a, a:link, a:visited {
  text-decoration: none;
  color: inherit;
}

.link, .link:link, .link:visited {
  text-decoration: underline;
}

textarea, input {
  outline: none;
}

#{$texty_inputs}, select, textarea, input[type=date] {
  border: solid 0.13em #8db8c3;
  border-radius: 3px;
  color: inherit;
}

#{$texty_inputs} {
  padding: 0 10px;
  height: 55px;

  &:focus {
    border-color: #136b83;
  }
}

select, input[type=date] {
  padding: 12px 40px 12px 12px;
  background: #136b83 asset-url('mobile/select_arrow.png') right center no-repeat;
  width: 200px;
  color: white !important;
  font-size: 16px;
}

input[type=date] {
  background: #136B83;
  padding: 12px;
}

input[type=number] {
  width: 140px;
}


// .page {
//   min-width: 480px;
// }

.form {
  .input-wrapper, #{$texty_inputs} {
    @include box-sizing(border-box);
    padding: 0 10px 0 40px;
    border: 2px solid #055d71;
    background-color: white;
  }

  .input-wrapper, .input-section, #{$texty_inputs} {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    min-height: 50px;
  }

  .input-section {
    min-height: 0;
  }

  .input-wrapper {
    padding-right: 0;

    .button, #{$texty_inputs} {
      @include box-sizing(initial);
      padding: 0;
      border: none;
      background-color: transparent;
      height: 46px;
      line-height: 46px;
      min-height: 0;
      display: block;
      float: left;
    }
  }

}

.button, .button:link, .button:visited, .button:hover {
  background: none;
  border: none;
  height: 50px;
  line-height: 50px;
  width: 100%;
  position: relative;
  color: white;
  text-align: center;
  text-decoration: none;
  display: block;

  .bg {
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
  }

}

.button-wrapper {
  padding: 10px;
}

.my_profile {
  .button-text {
    left: 20px;
  }
}

.button-text {
  position: relative;
  z-index: 1;
}

.button-icon {
  position: absolute;
  left: 0;
  top: 0;
}

.flash {
  margin: 20px;
  padding: 7px 45px 7px 7px;
  color: white;
  font-size: 0.8em;
  position: relative;

  .close, .close:link {
    color: white;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 2.5em;
    text-align: center;
    line-height: 2.5em;
    text-decoration: none;
  }

  &.info {
    background-color: $dark_cyan;
  }

  &.warning {
    background-color: $yellow;
  }

  &.error {
    background-color: $red;
  }
}

.link-to-button, .link-to-button:link, .link-to-button:visited, .link-to-button:hover {
  background: none;
  border: none;
  height: 60px;
  line-height: 60px;
  width: 100%;
  position: relative;
  color: white;
  text-align: center;
  text-decoration: none;
  display: block;

  .bg {
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
  }

  .text {
    position: relative;
    z-index: 1;
  }

  .icon {
    position: absolute;
    left: 0;
    top: 0;
    max-width: 45px;
    height: 100%;
    margin-left: 20px;
    vertical-align: middle;
    img { max-width: 100%; }
  }
}

.social-weibo {
  .icon img {
    position: relative;
    top: -5px;
  }
}
.social-tqq {
  .icon img { width: 85%; }
}

.text-center {
  text-align: center;
}
