.guest_flow-controller {
  .top_logo {
    text-align: center;
    background: #fff image-url('mobile/guest_flow/top_bg-480.png') no-repeat fixed center top;

    &.result-page img {
      width: 60%;
      max-width: 401px;
      margin: 40px auto;
    }

    &.landing-page img {
      margin: 60px auto 0;
      max-width: 90%;
    }

  }

  .summay {
    font-size: 16px;
    text-align: center;
    color: #666666;
    padding: 10px 0;
    background-color: #f0f6f8;

    .date span { color: #005f74; font-weight: bold; }
  }


  #actions-section {
    margin: 10px 10px 0;
    .link-to-button {
      width: 100%;
      display: block;
      margin-bottom: 10px;
    }

    .big_btn {
      margin-bottom: 100px;
      .link-to-button, .link-to-button:link, .link-to-button:visited, .link-to-button:hover {
        height: 90px;
        line-height: 90px;

        .icon {
          max-width: 45px;
        }
      }
    }
  }


  #search-menu {
    #title {
      color: #006a81;
      margin: 40px 0 0;
      padding: 0 10px;
      font-size: 20px;
    }

    .search-menu-logo {
      vertical-align: bottom;
      display: inline-block;
    }

    padding: 10px;
  }
}

