// Override jquery.mmenu

$menu-width: 35%;

.mm-menu {
  color: white;
  width: $menu-width;
}

.mm-menu > .mm-list {
  padding: 0;
}

.mm-ismenu {
  background-color: #f69000;
}

.mm-list > li:not(.mm-subtitle):not(.mm-label):not(.mm-noresults):after {
  content: none;
}

.mm-list {
  font-size: 1em;
  text-align: center;

  li {
    height: 25%;
    padding: 18% 0; // disable margin collapsing
    @include box-sizing(border-box);
  }
}

html.mm-opened.mm-opening .mm-page, html.mm-opened.mm-opening #mm-blocker, html.mm-opened.mm-opening .mm-fixed-top, html.mm-opened.mm-opening .mm-fixed-bottom {
  left: $menu-width;
}

#nav-review {
  background-color: #ee8006;
}

#nav-search {
  background-color: #e66f0c;
}

#nav-about {
  background-color: #de5f12;
}

.nav-icon {
  display: block;
  margin: 0 auto 0.4rem;
  @include box-sizing(border-box);
  max-width: 60%;
}
