// For Bootstrap modal, to display in vertical center
.modal-dialog-center {
  margin: 0 auto;
  width: 40%;
  position: absolute;
  top: 30%;
  left: 30%;
}

@media (max-width: 767px) {
  .modal-dialog-center {
    width: 100%;
    left: 0;
  }
}

@media (max-width: 350px) {
  .modal-dialog-center {
    top: 25%;
  }
}