.physicians-controller {
  .questions {
    width: 100%;
    color: #006b81;
    border-collapse: separate;
    border-spacing: 0 5px;

    .optional-title {
      color: #666;
    }

    td {
      padding: 5px;
    }

    td:first-child {
      padding-left: 10px;
    }
  }

  .odd {
    background-color: #f2f6f6;
  }

  .even {
    background-color: #e5ecee;
  }

  #more {
    background-color: #acc3c8;
    padding-left: 10px;
    padding-right: 10px;
    width: 2em;
  }

  .info {
    padding: 20px 0;
    overflow: hidden;

    .avatar {
      vertical-align: top;
      text-align: center;
      max-width: 28%;
      padding-left: 3%;

      img {
        max-width: 100%;
      }
    }

    .hospital_name {
      font-size: 1.2em;
    }

    .details {
      position: relative;
      left: 3%;
      vertical-align: top;
      font-size: 0.8em;
      width: 63%;
      overflow: hidden;

      .attr {
        padding: 4px 0;
        line-height: 20px;
        color: #666;

        &.hospital_name {
          color: #024757;
        }
      }

      #avg_rating {
        margin-top: 10px;
      }

    }
  }

  #actions-section {
    margin: 20px 10px 0;

    .link-to-button {
      display: block;
      margin-bottom: 10px;

      .review_count {
        position: relative;
        z-index: 1;
        color: #c02327;
        position: absolute;
        right: 20px;
        font-size: 30px;
      }
    }
  }


}

.physician-list-cell {
  background-color: #026b81;
  margin: 3px 0;
  color: white;
  padding: 20px 10px;
  font-size: 0.9em;
  line-height: 1.4em;
  position: relative;
  overflow: hidden;

  .side-bar {
    height: 100%;
    width: 25%;
    background-color: #16778b;
    position: absolute;
    right: 0;
    top: 0;
    text-align: center;
    padding-top: 3em;
    @include box-sizing(border-box);
  }

  .name {
    font-size: 1.1em;
  }

  .gray {
    color: #209db7;
  }

  ul {
    list-style-type: none;
    margin: 0 25% 0 0;
    padding: 0;
  }

  li {
    margin: 5px auto;
  }

  .location-marker {
    display: block;
    margin: 0 auto 10px;
  }

  .rating {
    vertical-align: middle;
  }

  .rating-stars {
    display: inline-block;
    vertical-align: text-bottom;
  }

  .rating-star {
    display: inline-block;
    width: 28px;
    height: auto;
    margin: 0 3px;
  }

  .physician-speciality, .hospital-name {
    font-size: 1em;
  }
}
