@media (max-width: 400px) {
  html, body {
    font-size: 16px;
  }

  input[type=number] {
    width: 90px;
  }

  .search-menu-logo {
    background-size: 70px;
    width: 70px;
    height: 70px;
  }

  .medical-experience-cell {
    padding-left: 6.8rem;

    .left {
      width: 6.8rem;
    }
  }
}

