.reviews-controller {
  .show {
    color: #024757;

    .dark_bg { background-color: #cde1e6; }
    .odd_bg { background-color: #e5ecee; }
    .even_bg { background-color: #f2f6f6; }

    .info {
      padding: 20px 5px;
      position: relative;
      overflow: hidden;

      &.linked_to_network {
        background: #cde1e6 image-url('mobile/reviews/linked_to_network.png') no-repeat top right;
      }

      .avatar {
        vertical-align: top;
        width: 100px;
        text-align: center;
        position: absolute;
        @media (max-width: 320px) {
          img {
            width: 50px;
            margin: 0 20px;
          }
        }
        @media (min-width: 321px) {
          img {
            width: 70px;
          }
        }
      }

      .details {
        position: absolute;
        left: 115px;
        vertical-align: top;
        margin-top: -5px;
        font-size: 18px;
        right: 100px;

        .attr {
          padding: 4px 0 5px;
          line-height: 20px;
          font-size: 16px;

          &.waiting_time {
            margin-top: 20px;
          }
          &.hospital_name {
            font-size: 18px;
          }
        }

        #avg_rating {
          margin-top: 5px;
        }

      }

      .user {
        width: 90px;
        position: absolute;
        right: 0;
        text-align: center;

        .user_avatar {
          img {
            width: 60px;
            @include border-radius(75px / 2);
          }
        }
        .username {
          font-size: 16px;
          margin-top: 5px;
        }
      }
    }

    .answers {

      .answer {
        vertical-align: top;

        margin: 3px 0 0;
        padding: 15px 10px;
        position: relative;

        .rating-small {
          vertical-align: top;
        }

        &.optional-title {
          padding: 0 10px;
          color: #666;
        }

        .content {
          color: #024757;

          #more {
            background-color: #acc3c8;
            vertical-align: top;
            text-align: center;
            position: absolute;
            width: 100px;
            right: 0;
            top: 0;
            text-decoration: none;
            &, &:hover {
              color: #024757;
            }
          }
        }
      }

    }

    .symptoms, .helpful {
      background-color: #acced6;
      padding: 15px 10px;
    }

    .symptoms {
      margin: 3px 0 0;
    }

    .note {
      padding: 10px;
      background-color: #d7e7eb;
    }

    .helpful {
      font-size: 16px;

      .created_at {
        font-size: 20px;
        float: right;
      }
    }

    #actions-section {
      margin: 0 10px 0;
      &.half {
        margin-top: 10px;
        .link-to-button {
          width: 48%;
          .icon img {
            max-width: 75%;
          }
        }
      }
      .report {
        .icon {
          left: -10px;
        }
      }
    }
  }

  .field-group {
    padding: 10px;

    #{$texty_inputs}, select {
      @include box-sizing(border-box);
      padding: 12px;
      height: 55px;
    }

    label {
      display: block;
    }

    .full {
      width: 100%;
    }

    .primary {
      width: 65%;
    }

    .secondary {
      width: 33%;
    }
  }

  #new_hospital_review {
    color: #155971;
  }

  .question-cell {
    &.first {
      margin-top: 0;
    }

    .rating-description {
      float: right;
      color: #f28e25;
    }

    background-color: #cde1e6;
    height: 130px - 25px * 2;
    margin: 3px 0;
    padding: 25px 10px;
    font-size: 18px;

    .rating-star {
      margin: 0 3px;
    }

    .answer, select, .rating-stars {
      margin: 15px 0;
      width: 350px;
      max-width: 90%;
    }

    .rating-stars {
      clear: right;
    }

    &.optional {
      background-color: #e6f0f2;
    }
  }

  #questions {
    &.collapsed {
      .optional {
        display: none;
      }
    }
  }


  textarea {
    width: 100%;
    margin: 10px auto;
    padding: 5px;
    @include box-sizing(border-box);
  }

  .button {
    margin: 10px auto;
  }
}
