.sessions-controller {
  #logo {
    max-width: 100%;
    display: block;
    margin: 0 auto 20px;
  }

  #login-fields-section {
    background-color: $dark-cyan;
    padding: 20px;
    color: white;
    a:visited, a:hover, a:link {
      color: white;
    }

    .input-wrapper, #{$texty_inputs} {
      width: 100%;
    }
  }


  input {
    color: #505050;
  }

  #login-actions-section {
    padding: 10px 10px 0px;

    .columns {
      word-spacing: -1;
    }

    .button {
      width: 100%;
      display: block;
      margin-bottom: 10px;

      &.col-2 {
        width: 49%;
        float: left;
        margin-right: 2%;
        padding-left: 1em;
        @include box-sizing(border-box);

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }

  #user_phone {
    width: 45% !important;
  }

  #validate_button {
    float: right;
    margin: 2px;
    height: 42px;
    width: 30%;
    line-height: 42px;
    font-size: small;
  }

  form#recover_password {
    #login-fields-section {
      padding: 100px 50px 20px;
    }
  }

}
