= navigation_bar(title: t('search.review_search'))

#search-menu
  #title
    = t('search.add_symptoms_bore_search')

  = action_button t('search.add_symptoms_and_conditions'), bg: 'dark_cyan', icon: 'icons-symptoms', href: mobile_search_review_health_conditions_path
  = action_button t('common.skip'), bg: 'yellow', href: mobile_search_review_search_menu_path
