- if @hospital.errors.empty?
  $('#hospital_table tbody').append("#{j(render('hospital', hospital: @hospital))}");
  $.fancybox.close();
- else
  alert("#{@hospital.errors.full_messages.join('\n')}");
