- if @speciality.errors.empty?
  $('#speciality_table tbody').append("#{j(render('speciality', speciality: @speciality))}");
  $.fancybox.close();
- else
  alert("#{@speciality.errors.full_messages.join('\n')}");
