%p Dear Carevoice Pioneers,

%p Many thanks for signing up with our mobile website and becoming the Carevoice pioneers! As one of the very first users, you are leading the way in a new trend for people to manage their health issues and experience healthcare solutions!

%p You can now go to The Carevoice and post your reviews! You can also start to build your health network by sharing reviews with a “Network” mark only visible to your own network or trusted community.

%p Become our Esteemed Evangelist and write back to us at umesh.sengar@thecarevoice.com with name and email of your friends/ family members. You qualify as a gift winner if 4 of them register at 'm.thecarevoice.com' and post a review.

%p
  %table
    %tr
      %td(style="width: 50px;") Users
      %td Gift value
    %tr
      %td 4
      %td Rs. 200
    %tr
      %td 6
      %td Rs. 300
    %tr
      %td 9
      %td Rs. 500

%p
  As The Carevoice pioneers, you are very crucial for the future development of The Carevoice! We would welcome your thoughts and contribution to improve and build our platform by answering the following short survey:
  %br
  %a{:href => "http://my.questbase.com/take.aspx?pin=1692-8667-6732"} http://my.questbase.com/take.aspx?pin=1692-8667-6732

%p Many thanks again for your interest! Have a good day!

%p
  Sincerely yours,
  %br
  Your dedicated The Carevoice team
  %br
  'Evaluate, share and experience a healthy life'
