#done
  %p= image_tag 'tcv-logo-lg.png', alt: 'The CareVoice Logo'
  %p.lead= I18n.t('survey.success')
  %p
    %a.btn.btn-success.btn-large{ href: 'http://www.thecarevoice.com' }
      = I18n.t('survey.download_text')
      %span &nbsp;-&nbsp;
      %span#redirectCount
