# Ignore bundler config.
/.bundle

# Ignore the default SQLite database.
/db/*.sqlite3
/db/*.sqlite3-journal
/db/*.sql

# Ignore all logfiles and tempfiles.
/log/*.log
/tmp

# Ignore uploaded files
/public/system
/public/assets

# Ignore secret files
/config/database.yml
/config/app_config.yml

# Ignore rvm config file
.ruby-gemset
.ruby-version
.versions.conf
.rvmrc

# Ignore brakeman output file
brakeman.html

.DS_Store
dump.rdb
app/assets/images/mobile/icons-*.png
app/assets/images/mobile/search-menu-*.png

coverage/*
doc/*

# symlinks for development testing
public/microsites

cookies
db/*.sql.bz2
.swp*
