.info.medication
  .avatar.inline= image_tag('mobile/medication_avatar.png')
  .details.inline
    .attr.hospital_name= @record.name
    .attr= @record.dosage
    .attr= @record.company
    #avg_rating.rating-large{data: {rating: @record.avg_rating}}
